.liked-posts-box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
   gap: 2rem;
   padding-top: 2rem;
}

.show-comments {
   background-color: var(--white);
   border: var(--border);
   border-radius: 0.5rem;
   box-shadow: var(--box-shadow);
   padding: 2rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.show-comments .post-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.8rem;
   font-weight: 600;
   color: var(--black);
}

.show-comments .comment-box {
   font-size: 1.6rem;
   color: var(--light-color);
   line-height: 1.6;
}
